extends base.pug

block content
    div#videoContainer(data-id=video._id)
        video(src=video.fileUrl crossorigin)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    div.video__data
        div 
            each ht in video.hashtags
                span.video__hashtags=ht + " "
        p.video__title=video.title
        br
        div.video__info
            div
                span 조회수 #{video.meta.views} 회 • 
                span=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                //- small #{printUploadedDay}
                small &nbsp;
                small (#{uploadedTime})
            nav
                ul
                    li 
                        if String(video.owner._id) === String(loggedInUser._id)
                            a(href=`${video.id}/edit`) Edit Video • 
                            a(href=`${video.id}/delete`) Delete Video
        br
        br
        div.video__info2
            small.video__owner Uploaded by 
                a(href=`/users/${video.owner._id}`)=video.owner.name
            br
            br
            div.video__description
                span#videoContent.video__description--content #{video.description}
                br
                span#moreBtn.video__description--moreBtn 더보기
        br

    
    div.video__comments__input
        span 댓글 #{comm} 개
        if loggedIn
                div.video__add-comments
                    form.video__comment-form#commentForm(data-username=loggedInUser.username)
                        textarea.video__comment-form__text#textarea(name="commentInput",placeholder="댓글 추가...", required,
                        onKeyUp="this.style.height = '1px'; this.style.height = (12 + this.scrollHeight) + 'px';",
                        onKeyDown="this.style.height = '1px'; this.style.height = (12 + this.scrollHeight) + 'px';",
                        onfocus="this.placeholder=''",
                        onblur="this.placeholder='댓글 추가...'")
                        button(href="#").video__comment-form__btn 댓글
        
        div.video__comments
            ul
                each comment in comments
                    li.video__comment(data-id=comment.id)
                        div.video__comment--left
                            a(href=`/users/${comment.owner_id}`)=comment.username
                            div.video__comment--spans
                                span #{comment.createdAt}
                                span #{comment.text}
                        if String(comment.owner_id) === String(loggedInUser._id)
                            span.video__comment__deleteBtn#deleteBtn ❌

block scripts 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/descriptionSection.js")
    if loggedIn
        script(src="/static/js/commentSection.js")